@charset "UTF-8";
html {
  font-family: "Zen Old Mincho", serif;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

body {
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/*ここから先header*/
header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
  position: fixed;
  left: 0;
  right: 0;
}
@media screen and (max-width: 1200px) {
  header {
    padding: 0 6%;
  }
}

.header-logo img {
  width: 80px;
}
@media screen and (max-width: 1200px) {
  .header-logo img {
    width: 55px;
  }
}
.header-logo a {
  display: flex;
  align-items: center;
  height: 100px;
}

.header-menu {
  align-items: center;
  display: flex;
  width: 350px;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .header-menu {
    width: 290px;
  }
}
@media screen and (max-width: 900px) {
  .header-menu {
    width: 270px;
  }
}
@media screen and (max-width: 700px) {
  .header-menu {
    width: 210px;
  }
}
.header-menu .pc {
  display: inline-block;
  border: solid 1px;
  padding: 15px 20px;
}
@media screen and (max-width: 1200px) {
  .header-menu .pc {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 700px) {
  .header-menu .pc {
    display: none;
  }
}
.header-menu .media-query {
  display: none;
}
@media screen and (max-width: 700px) {
  .header-menu .media-query {
    font-size: 14px;
    display: inline-block;
    border: solid 1px;
    padding: 10px 20px;
  }
}

.hamburger {
  width: 65px;
  height: 40px;
  position: relative;
  background: transparent;
  border: none;
}
@media screen and (max-width: 1200px) {
  .hamburger {
    width: 40px;
    height: 25px;
  }
}
@media screen and (max-width: 900px) {
  .hamburger {
    width: 35px;
    height: 20px;
  }
}

.hamburger-bar {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background: white;
}
@media screen and (max-width: 1200px) {
  .hamburger-bar {
    height: 2px;
  }
}

.hamburger-bar:nth-child(1) {
  top: 0;
}

.hamburger-bar:nth-child(2) {
  top: 50%;
}

.hamburger-bar:nth-child(3) {
  top: 100%;
}

/*ここからmainタグ*/
main {
  margin-bottom: 12vw;
}

.mainvisual {
  height: 100vh;
  margin-bottom: 14vw;
}
.mainvisual video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.mainvisual .logo {
  position: absolute;
  color: black;
  bottom: 33vh;
  writing-mode: vertical-lr;
  left: 47%;
  font-size: 3rem;
  font-family: "Reggae One", system-ui;
  text-shadow: 0px 0px 20px white;
}
@media screen and (max-width: 1200px) {
  .mainvisual .logo {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 900px) {
  .mainvisual .logo {
    font-size: 2rem;
    bottom: 36vh;
  }
}
@media screen and (max-width: 500px) {
  .mainvisual .logo {
    font-size: 4vh;
    bottom: 40vh;
    left: 45%;
  }
}
.mainvisual .opening {
  width: 430px;
  height: 100px;
  background-color: #5F0000;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  align-items: center;
  color: white;
}
@media screen and (max-width: 1200px) {
  .mainvisual .opening {
    width: 360px;
    height: 75px;
  }
}
@media screen and (max-width: 900px) {
  .mainvisual .opening {
    margin: -100px auto 0 auto;
    z-index: 50;
    position: relative;
    right: 0px;
    bottom: 0px;
  }
}
@media screen and (max-width: 700px) {
  .mainvisual .opening {
    width: 285px;
    height: 65px;
  }
}
.mainvisual .opening .wrapper {
  margin: auto;
  height: inherit;
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .mainvisual .opening .wrapper {
    width: 99%;
  }
}
.mainvisual .opening .wrapper .date {
  text-align: center;
  width: 20%;
}
@media screen and (max-width: 700px) {
  .mainvisual .opening .wrapper .date {
    width: 30%;
  }
}
.mainvisual .opening .wrapper .date time {
  font-size: 40px;
}
@media screen and (max-width: 1200px) {
  .mainvisual .opening .wrapper .date time {
    font-size: 34px;
  }
}
@media screen and (max-width: 700px) {
  .mainvisual .opening .wrapper .date time {
    font-size: 25px;
  }
}
.mainvisual .opening .wrapper .hour {
  text-align: center;
  width: 60%;
}
@media screen and (max-width: 700px) {
  .mainvisual .opening .wrapper .hour {
    width: 40%;
  }
}
.mainvisual .opening .wrapper .hour h4 {
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  .mainvisual .opening .wrapper .hour h4 {
    font-size: 21px;
  }
}
@media screen and (max-width: 700px) {
  .mainvisual .opening .wrapper .hour h4 {
    font-size: 20px;
  }
}
.mainvisual .opening .wrapper .hour p {
  font-size: 15px;
}
@media screen and (max-width: 1200px) {
  .mainvisual .opening .wrapper .hour p {
    font-size: 11px;
  }
}
@media screen and (max-width: 700px) {
  .mainvisual .opening .wrapper .hour p {
    font-size: 9px;
  }
}
.mainvisual .opening .wrapper h2 {
  font-size: 24px;
  text-align: center;
  width: 20%;
}
@media screen and (max-width: 1200px) {
  .mainvisual .opening .wrapper h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .mainvisual .opening .wrapper h2 {
    font-size: 17px;
    width: 30%;
  }
}

.strong-point .content {
  margin: 0 auto 10vw auto;
  display: flex;
  width: 80%;
}
@media screen and (max-width: 700px) {
  .strong-point .content {
    margin: 0 auto 15vw auto;
  }
}
@media screen and (max-width: 900px) {
  .strong-point .content {
    width: 100%;
    overflow: hidden;
  }
}
.strong-point .content:nth-child(2n) {
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .strong-point .content:nth-child(2n) {
    flex-direction: column;
  }
}
.strong-point .content:nth-child(2n) img {
  margin-left: 1.5vw;
}
@media screen and (max-width: 900px) {
  .strong-point .content:nth-child(2n) img {
    margin: 0 auto 0 -20px;
    width: 75%;
    border-radius: 26px;
    height: 41vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 900px) {
  .strong-point .content:nth-child(2n-1) {
    flex-flow: column-reverse;
  }
}
@media screen and (max-width: 900px) {
  .strong-point .content:nth-child(2n-1) video {
    margin: 0 -20px 0 auto;
    width: 70%;
    border-radius: 26px;
    height: 41vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 900px) {
  .strong-point .content:nth-child(2n-1) img {
    margin: 0 -20px 0 auto;
    width: 70%;
    border-radius: 26px;
    height: 41vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 900px) {
  .strong-point .content:nth-child(2n-1) .info {
    margin: 8vw 0 0 10vw;
  }
}
.strong-point .content .info {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .strong-point .content .info {
    margin: 5vw 0 0 11vw;
  }
}
.strong-point .content .info h2 {
  font-size: 3.5vw;
  margin-bottom: 3vw;
}
@media screen and (max-width: 1200px) {
  .strong-point .content .info h2 {
    font-size: 3.1vw;
  }
}
@media screen and (max-width: 900px) {
  .strong-point .content .info h2 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 900px) {
  .strong-point .content .info h2 br {
    display: none;
  }
}
.strong-point .content p {
  font-size: 1.3vw;
}
@media screen and (max-width: 900px) {
  .strong-point .content p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 700px) {
  .strong-point .content p {
    font-size: 2.4vw;
  }
}
.strong-point img,
.strong-point video {
  width: 50%;
}

.monthly-event {
  width: 80%;
  margin: 0 auto;
}
.monthly-event h2 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 3rem;
}
@media screen and (max-width: 1200px) {
  .monthly-event h2 {
    margin-bottom: 45px;
    font-size: 3vh;
  }
}
@media screen and (max-width: 500px) {
  .monthly-event h2 {
    margin-bottom: 30px;
    font-size: 1.8vh;
  }
}
.monthly-event .monthly-event-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}
@media screen and (max-width: 900px) {
  .monthly-event .monthly-event-info {
    flex-direction: column;
  }
}
.monthly-event .monthly-event-info .monthly-event-content {
  width: 45%;
  margin-bottom: 35px;
}
@media screen and (max-width: 900px) {
  .monthly-event .monthly-event-info .monthly-event-content {
    width: auto;
    display: flex;
  }
}
.monthly-event .monthly-event-info .monthly-event-content img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .monthly-event .monthly-event-info .monthly-event-content img {
    width: 35%;
    margin: 0;
    margin-right: 40px;
  }
}
@media screen and (max-width: 500px) {
  .monthly-event .monthly-event-info .monthly-event-content img {
    margin-right: 25px;
  }
}
.monthly-event .monthly-event-info .monthly-event-content .date {
  font-size: 1rem;
}
@media screen and (max-width: 700px) {
  .monthly-event .monthly-event-info .monthly-event-content .date {
    font-size: 0.6rem;
  }
}
.monthly-event .monthly-event-info .monthly-event-content .summary {
  font-size: 1.2rem;
}
@media screen and (max-width: 1200px) {
  .monthly-event .monthly-event-info .monthly-event-content .summary {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 700px) {
  .monthly-event .monthly-event-info .monthly-event-content .summary {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .monthly-event .monthly-event-info .monthly-event-content .summary {
    font-size: 0.7rem;
  }
}
.monthly-event .btn {
  text-align: center;
}
.monthly-event .btn button {
  font-size: 1.7rem;
  color: black;
  border: 1px solid black;
  padding: 15px 100px;
}
@media screen and (max-width: 1200px) {
  .monthly-event .btn button {
    font-size: 1rem;
    padding: 15px 70px;
    border-radius: 40px;
  }
}

footer {
  display: flex;
  width: 90%;
  margin: 0 auto 70px auto;
  padding-top: 40px;
}
@media screen and (max-width: 900px) {
  footer {
    flex-flow: column-reverse;
    align-items: center;
  }
}
footer .footer-info {
  width: 40%;
}
@media screen and (max-width: 700px) {
  footer .footer-info {
    width: 170px;
  }
}
@media screen and (max-width: 900px) {
  footer .footer-info {
    text-align: center;
  }
}
footer .footer-info .footer-info-logo {
  width: 250px;
  margin-bottom: 15px;
}
@media screen and (max-width: 900px) {
  footer .footer-info .footer-info-logo {
    width: 100%;
  }
}
footer .footer-info .footer-info-logo img {
  width: 80px;
}
footer .footer-info .footer-info-logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
@media screen and (max-width: 900px) {
  footer .footer-info .footer-info-logo a {
    flex-direction: column;
    height: auto;
  }
}
footer .footer-info .footer-info-logo a p {
  color: black;
}
footer .footer-info .footer-info-address {
  font-size: 1.1rem;
  margin-bottom: 5px;
}
@media screen and (max-width: 1200px) {
  footer .footer-info .footer-info-address {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  footer .footer-info .footer-info-address {
    font-size: 0.6rem;
  }
}
footer .footer-info .footer-info-tel a {
  font-size: 3rem;
  margin-bottom: 5px;
  color: black;
}
@media screen and (max-width: 1200px) {
  footer .footer-info .footer-info-tel a {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 900px) {
  footer .footer-info .footer-info-tel a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  footer .footer-info .footer-info-tel a {
    font-size: 1rem;
  }
}
footer .footer-nav {
  width: 60%;
}
@media screen and (max-width: 900px) {
  footer .footer-nav {
    width: 100%;
    margin-bottom: 10%;
  }
}
footer .footer-nav .footer-nav-sns {
  display: flex;
  margin-top: 40px;
  margin-bottom: 55px;
}
@media screen and (max-width: 900px) {
  footer .footer-nav .footer-nav-sns {
    margin-bottom: 15%;
  }
}
footer .footer-nav .footer-nav-sns ul {
  display: flex;
  width: 60%;
}
@media screen and (max-width: 900px) {
  footer .footer-nav .footer-nav-sns ul {
    width: 100%;
    margin: 0 auto;
  }
}
footer .footer-nav .footer-nav-sns ul li {
  display: flex;
  margin-right: 10%;
  align-items: center;
  width: 33.3333333333%;
  align-items: center;
}
@media screen and (max-width: 900px) {
  footer .footer-nav .footer-nav-sns ul li {
    margin: 0;
    justify-content: center;
  }
}
footer .footer-nav .footer-nav-sns ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
footer .footer-nav .footer-nav-sns ul li p {
  font-size: 1.5vw;
}
@media screen and (max-width: 700px) {
  footer .footer-nav .footer-nav-sns ul li p {
    font-size: 0.6rem;
  }
}
footer .footer-nav .footer-nav-sns .follow-us {
  font-size: 2vw;
  position: relative;
  width: 40%;
}
@media screen and (max-width: 900px) {
  footer .footer-nav .footer-nav-sns .follow-us {
    display: none;
  }
}
footer .footer-nav .footer-nav-sns .follow-us::after {
  content: "";
  display: inline-block;
  width: 10vw;
  margin-left: 7%;
  vertical-align: middle;
  /* position: absolute; */
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
  background: black;
}
footer .footer-nav-menu {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  footer .footer-nav-menu {
    display: block;
    margin-left: 5%;
  }
}
footer .footer-nav-menu li {
  position: relative;
  font-size: 30px;
  margin-right: 45px;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  footer .footer-nav-menu li {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-nav-menu li {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  footer .footer-nav-menu li {
    font-size: 17px;
  }
}
footer .footer-nav-menu li ::before {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-left: -2em;
  margin-right: 0.5em;
  background: url(https://zippuku.net/renewal/wp-content/themes/zippuku/img/common/arrow--black.svg) no-repeat center center/100% auto;
}
footer .footer-nav-menu li h5 {
  margin-left: 40px;
}/*# sourceMappingURL=style.css.map */
